<input type="text" [formControl]="textControl">
<select [formControl]="bookControl">
      <option
        *ngFor="let book of filteredBooks | async"
        [ngValue]="book"
      >
        {{book.name}}
      </option>
    </select>

<select [formControl]="chapterControl">
  <option
    *ngFor="let chapter of chapters"
    [value]="chapter"
  >
    {{chapter}}
  </option>
</select>

<select [formControl]="versesControl">
  <option
    *ngFor="let verse of verses"
    [value]="verse"
  >
    {{verse}}
  </option>
</select>

<div class="streaming-container center">


  <div class="adventist-logo-container">
    <img src="/assets/img/LOGO 5A-PNG.png" class="adventist-logo">

  </div>
  <div class="content">
    <p [innerHTML]="passage" class="text-container p">
    </p>

    <div class="maranatha-logo-container center">
        <img src="/assets/img/LOGO MARANATHA PNG REAL.png" class="maranatha-logo">
    </div>
  </div>

</div>
